body {
  background-color: #2d2e2d;
}
@media screen and (max-width: 768px) {
  /* CARD TITLE */
  .mascotteTitle {
    display: none;
  }
  .logoPage {
    display: none;
  }
  .cardTitle {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 6vh;
    gap: 2vh;
  }
  .homeLogo {
    height: 7vh;
  }
  .toilettesImg {
    height: 18vh;
  }
  .cardToilettes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cardToilettesTxt {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    text-align: center;
    font-size: 1.2em;
    padding-left: 2.5vw;
    h2 {
      font-size: 2.5em;
      font-family: "Righteous", sans-serif;
    }
  }
  /* CARD LIST */
  .cardList {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 4vh;
    padding-top: 0;
    gap: 4vh;
  }
  .map {
    display: none;
  }
  /* CARD ADRESS */
  .cardAdressInfo {
    display: flex;
    width: 75vw;
    max-height: 40vh;
    background-color: #3c3b3b;
    border-radius: 3vh;
    height: 30vh;
    color: white;
    font-size: 1.3em;
    .geolocation {
      display: none;
      height: 8vh;
    }
    button {
      color: white;
      border-radius: 4vh;
      background-color: #2d2e2d;
      display: none;
    }
  }
}
@media screen and (min-width: 768px) {
  /* CARD TITLE */
  .mascotteTitle {
    height: 18vh;
  }
  .logoPage {
    display: flex;
    justify-content: center;
    padding: 4vh 0;
    h1 {
      font-size: 1.5em;
      color: white;
      max-width: 15vw;
      padding-top: 3vh;
      text-align: center;
      font-family: "Righteous", sans-serif;
    }
  }
  .homeLogo {
    display: none;
  }

  .toilettesImg {
    height: 15vh;
  }
  .cardToilettes {
    display: flex;
    justify-content: center;
  }
  .cardToilettesTxt {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    text-align: center;
    font-size: 1.5em;
    padding-left: 1.5vw;
    h2 {
      font-size: 2em;
      font-family: "Righteous", sans-serif;
    }
  }

  /* CARD LIST */

  .cardList {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 4vh 0;
    gap: 4vh;
  }
  .cardMap {
    display: flex;
    justify-content: center;
    padding: 4vh 0;
    max-height: 40vh;
    .map {
      border-radius: 7vh;
      width: 75vw;
      object-fit: cover;
      display: flex;
      justify-content: center;
    }
  }

  /* CARD ADRESS */
  .cardAdress {
    display: flex;
    justify-content: center;
    padding: 4vh 0;
    max-height: 40vh;
  }
  .cardAdressInfo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 75vw;
    max-height: 40vh;
    background-color: #3c3b3b;
    border-radius: 7vh;
    height: 40vh;
    color: white;
    font-size: 1.8em;
    .geolocation {
      height: 14vh;
    }
    button {
      margin-top: 2vh;
      margin-right: 1.5vw;
      padding: 2vh 2vw;
      color: white;
      border-radius: 7vh;
      background-color: #2d2e2d;
    }
    .rue {
      padding-top: 2.5vh;
    }
  }
}
