@media screen and (max-width: 768px) {
  body {
    background-image: url("./src/assets/images/train.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }

  .container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .mascotte {
    width: 30vh;
  }

  .home {
    width: 8vh;
    margin-top: 2rem;
  }

  .nav-mobile {
    z-index: 1000;
    position: fixed;
    bottom: 3rem;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  h1 {
    color: white;
    background-image: none;
    font-family: "Righteous", sans-serif;
    text-align: center;
    letter-spacing: 0.1rem;
    font-size: 1.7rem;
    text-shadow: 1px 5px 5px black;
  }

  .paragraphe {
    display: none;
    font-family: "Roboto", sans-serif;
  }

  .picturetrain {
    display: none;
  }

  .container4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  body {
    background-color: #2d2e2d;
    text-align: center;
  }

  .home {
    display: none;
  }

  .nav-mobile {
    position: fixed;
    top: 68%;
    left: 8%;

    transform: translateY(-50%);
  }

  .nav-mobile.desktop {
    display: none;
  }

  h1 {
    color: white;
    font-size: 2.7rem;
    font-family: "Righteous", sans-serif;
    letter-spacing: 0.3rem;
    text-align: center;
    text-shadow: 1px 5px 5px black;
  }

  .mascotte {
    width: 11rem;
  }

  .paragraphe {
    color: white;
    font-size: 2.2rem;
    font-family: "Roboto", sans-serif;
    margin-top: 5%;
  }

  .container1 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    margin-top: 1.8rem;
  }

  .container2 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  .picturetrain {
    border-top-left-radius: 17rem;
    border-bottom-left-radius: 17rem;
    object-fit: cover;
    margin-left: 10%;
    box-shadow: -5px 0px 30px rgb(24, 24, 24);
  }

  .container3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 10%;
  }

  .container4 {
    display: flex;
    position: fixed;
    height: 100%;
  }
}
