* {
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-list {
  display: flex;
  position: fixed;
  bottom: 1%;
  list-style: none;
}

.nav-icon {
  padding: 1.6rem;
  transition: 0.3s ease;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}

.nav-text {
  display: none;
}

.toilette-icon {
  background-image: url(../images/Nav/toilette.png);
}

.fountain-icon {
  background-image: url(../images/Nav/gouttes-deau.png);
}

.shop-icon {
  background-image: url(../images/Nav/shop.png);
}

.defibrillator-icon {
  background-image: url(../images/Nav/defibrillator.png);
}

@media screen and (max-width: 768px) {
  .navbar {
    position: absolute;
    bottom: 0;
    margin-left: 2rem;
  }

  .navbar-list {
    background-color: #f2f2f2b2;
    border-radius: 56px;
    gap: 15px;
    padding: 1rem 1.7rem;
    margin: 0 0 15px;
  }

  .toilette-icon:hover {
    background-image: url(../images/Nav/toiletteHover.png);
  }

  .fountain-icon:hover {
    background-image: url(../images/Nav/gouttes-deauHover.png);
  }

  .shop-icon:hover {
    background-image: url(../images/Nav/shopHover.png);
  }

  .defibrillator-icon:hover {
    background-image: url(../images/Nav/defibrillatorHover.png);
  }
}

@media screen and (min-width: 768px) {
  .navbar-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 5%;
    gap: 25px;
    background-color: rgba(255, 255, 255, 0);
  }

  .nav-container {
    background-color: #f3f3f3;
    padding: 10px;
    margin: 5px;
    border-radius: 56px;
    transition: 0.5s;
    height: 11rem;
    width: 14rem;
  }

  .nav-container:hover {
    background-color: #a14aff;
    box-shadow: 5px 8px 20px black;
  }

  .nav-icon {
    margin-top: 2%;
    padding: 2.7rem;
    width: 100%;
  }

  .nav-text {
    display: block;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 1rem;
    font-family: "Roboto", sans-serif;
  }

  a {
    text-decoration: none;
    color: #000000;
  }
}
