* {
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .buttonDark,
  .buttonLight {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .light {
    background-color: pink;
    color: #2d2e2d;

    .buttonLight {
      background-color: pink;
      border-style: none;
      font-size: 70px;
    }
  }
  .dark {
    background-color: #2d2e2d;

    .buttonDark {
      background-color: #2d2e2d;
      border-style: none;
      font-size: 70px;
    }
  }
}
.languageButton {
  background-color: #2d2e2d;
  border-style: none;
  font-size: 35px;
}
